<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muselive.bemuselive.mapper.PaymentMapper">

    <insert id="userGeneralPayment" useGeneratedKeys="true" keyProperty="payment_id">
        INSERT INTO MUSE_LIVE.PAYMENT_TB (school_id, service_id, payment_amount, payment_type)
        VALUES (#{school_id}, #{service_id}, #{payment_amount}, #{payment_type})
    </insert>

    <select id="getPaymentInfo" parameterType="map" resultType="map">

        select IF(payment_amount >= 0 ,payment_amount, payment_amount * -1 ) as payment_amount,
        service_name,
        payment_datetime
        from PAYMENT_TB PT
        join SERVICE_TB ST on PT.service_id = ST.service_id
        where school_id = #{school_id}
        order by payment_datetime desc ;


    </select>

    <select id="getDonatePayment" parameterType="map" resultType="int">
        select IFNULL(sum(payment_amount),0) * 0.005 as donate_amount
        from PAYMENT_TB PT
                 join SERVICE_TB ST on PT.service_id = ST.service_id
        where school_id = #{school_id}
          and PT.payment_type = 3;
    </select>


    <select id="getPaymentInfoByMonth" parameterType="map" resultType="map">
        select IF(payment_amount >= 0 ,payment_amount, payment_amount * -1 ) as payment_amount,
               service_name,
               payment_datetime
        from PAYMENT_TB PT
                 join SERVICE_TB ST on PT.service_id = ST.service_id
        where school_id = #{school_id}
          and DATE_FORMAT(payment_datetime, '%Y-%m') = #{date_info}
        order by payment_datetime desc;

    </select>

    <select id="getDonatePaymentByMonth" parameterType="map" resultType="int">
        select IFNULL(sum(payment_amount),0) * 0.005 as donate_amount
        from PAYMENT_TB PT
                 join SERVICE_TB ST on PT.service_id = ST.service_id
        where school_id = #{school_id}
          and PT.payment_type = 3
          and DATE_FORMAT(payment_datetime, '%Y-%m') = #{date_info}
    </select>

</mapper>


